<section class="container content">
  <div class="row">
    <div class="col">

    </div>
    <div class="col"></div>
    <div class="col">
      <div class="section_wrapper_brand">
        <p class="section_wrapper_brand_text">
          Self 
          serv
          carwash
        </p>
      </div>
    </div>
  </div>
  <div class="row mobilerow">
    <div class="col-6 col-sm-2 col-md-2 col-lg-3 col-xl-3">
      <a href="https://www.apple.com/ru/ios/app-store/"><img class='img-fluid' src='./img/appstore.png'/></a>
    </div>
    <div class="col-6  col-sm-2 col-md-2 col-lg-3 col-xl-3">
      <a href="https://play.google.com/store">
        <img class='img-fluid' src='./img/google.png'/>
      </a>
    </div>
    <div class="col-sm-0 col-md-0 col-lg-3 col-xl-3"></div>
    <div class="col-sm-2 col-md-2 col-lg-3 col-xl-3">
      <div class="section_wrapper_city">
        <p>Saint-Petersburg</p>
      </div>
    </div>
  </div>
</section>
