body{
  font-family: Roboto;
  overflow-x: hidden;
  width: 100vw;
  background-color: #333;
}
.wrap{
  flex-direction: column;
  display: flex;
  min-height: 100vh;
  height: 100vh;
  background: url("./../img//bgc.png") no-repeat;
  background-size: cover;
  background-color: rgba(200,100,0,.5);
  background-blend-mode: multiply;
}


