.section_wrapper_brand{
  display: flex;
  flex-direction: column;
  margin-top: 7vh;
}
.section_wrapper_brand_text{
  color:$themeBlue;
  font-size: $i60i;
  line-height: 109%;
  text-transform: uppercase;
  font-family: 'Bebas Neue', cursive;
  cursor: default;
}
.section_wrapper_city{
  color:white
}
.section_wrapper_city p{
  cursor: default;
  font-family: 'Open sans';
  text-transform: uppercase;
  font-weight: bold;
  font-size: $i20i;
}
.content{
  flex: 1 0 auto;
}
.section_image_container{
  width: 5vw;
}